.navbar.fixed {
	position: fixed;
	top: 0;
	width: auto;
	background-color: whitesmoke;
	z-index: 100;
	transition: all ease 0.3s;
	scroll-behavior: smooth;
}

.contact-bar {
	padding: 15px; /* Add padding for space */
	background-color: #064689; /* Change background color */
	color: white;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.social-icons {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.social-icons-1{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.social-icons-1 li {
	margin-right: 20px;
	margin-left: 5px;
}
.social-icons-1 a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	vertical-align: baseline;
}
.social-icons li {
	margin-right: 10px;
}
.social-icons a {
	color: white;
	text-decoration: none;
}